.wrapper{
    width: 800px;
    margin: 0 auto;
}
.inner{
    padding: 10px;
    border: 4px solid;
    height: 400px;
}
.start{
    font-size: 28px;
    text-align: center;
}
.flex{
    display: flex;
    justify-content: space-evenly;
    padding: 0;
}
li{
    text-align: center;
    list-style: none;
}
.h-name{
    text-align: center;
    font-size: 18px;
    margin: 0;
}
.select{
    color: white;
    background-color: #111;
    border: none;
    padding: 8px 12px;
}
form{
    margin-top: 10px;
}
.img{
    margin: 5px 0;
}
.monster-img{
    margin-left: 40px;
    margin-top: 70px;
    position: relative;
}
.monster-img span{
    position: absolute;
    top: -30px;
    left: 58px;
}
.myinfo{
    margin: 15px 0 0 30px;
}
.myinfo .flex{
    justify-content: space-between;
}
.command{
    margin: 15px 30px 0 0;
}
.message-wrap{
    margin-top: 10px;
    height: 100px;
    overflow: scroll;
}
.message{
    margin: 0;
}
.box{
    background-color: black;
    color: white;
    padding: 6px;
    border: 3px solid white;
    position: relative;
    border-radius: 3px;
}
.name{
    margin: 0;
    font-weight: 900;
    text-align: center;
    background-color: black;
}
.myinfo .name{
    left: 45px;
}
.command input{
    background-color: black;
    color: white;
    border: none;
    width: 75px;
    text-align: left;
}
